* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: peachpuff;
    <iframe src="https://giphy.com/embed/IdkQbKfSg1Gi4" width="480" height="480" frameBorder="0" class="giphy-embed" "allowFullScreen"></iframe>
    
    /*<p><a href="https://giphy.com/gifs/dat-tho-fibonacci-IdkQbKfSg1Gi4">via GIPHY</a></p>*/
}

/* puts menu list in a row begin */
nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: Arial;
    color: black;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

/* To make the list a dropdown, change display to none.*/
nav ul li ul {
    /*display: block;*/
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    /* below code is to round the edges, first 2 are the top left and right*/
    border-radius: 0px 0px 4px 4px;
}


nav ul li:hover ul {
    display: block;
}

/*
nav ul li li:hover ul {
    display: block;
}
*/

nav ul li ul li {
    width: 150px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 12px;
}

nav ul li ul li:hover a {
    display: block;
}

/* Below code doesn't work.  Need to find one that will change the color when being used */
nav ul li a ul li a:hover {
    background-color: skyblue;
    /* code to make background transparent */
    background: rgba(0, 0, 0, 0, .7);
}
/* puts menu list in a row end */

a.whitemenu {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

a.whitemenu:hover {
    background: lightblue;
    transform: translateZ(10px);
    /* below code is to round the edges, first 2 are the top left and right*/
    border-radius: 0px 0px 0px 0px;
}

a.yellowmenu {
    color: yellow;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

a.yellowmenu:hover {
    background: lightblue;
    transform: translateZ(20px);
    /* below code is to round the edges, first 2 are the top left and right*/
    border-radius: 0px 0px 0px 0px;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #0413eed7;
}


/* Fit as many of the below grid items as we can that has a min px of 200 begin*/
.gallery{
    margin: 10px 50px;
    font-family: sans-serif;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img{
    width: 230px;
    padding: 5px;
    /* below code changes pictures to black and white */
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

.videos{
    margin: 10px 50px;
}

.videos img{
    width: 230px;
    padding: 5px;
    /* below code changes pictures to black and white */
    filter: grayscale(100%);
    transition: 1s;
}

.videos img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

