/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* below code is to get rid of extra margin and padding that might exist. */
* {
    margin: 0;
    padding: 0;
    /* The below code resets the box model to border-box for all HTML elements. */
    box-sizing: border-box;
}

/* Base Font of a browser is 16 px, so 1em = 16px */
/* If font-size: 18px; - Then 1.5em would be 27px (18 + 9) */






/* Code for LOGIN PAGE BEGIN */
body {
    display: grid;
    height: 100%;
    place-items: center;
    /*
    background: rgb(0, 204, 255);
    */
    background: rgb(32.93, 71.31, 152.52);
    overflow: hidden;
}

.container {
    max-width: 440px;
    padding: 0 20px;

    /* might need to adjust this so the login box is centered */
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

.wrapper .title {
    line-height: 70px;
    background: rgba(255, 255, 0);
    padding-left: 20px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 20px 25px 20px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: rgba(255, 255, 0);
    box-shadow: inset 0px 0px 2px 2px #0004ff;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: rgba(107,107,107);
    border: 1px solid rgba(255, 255, 0);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color:#0004ff;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0px;
    background: rgba(107, 107, 107);
    border: 1px solid rgba(255, 255, 0);
    cursor: pointer;
}

form .button input:hover {
    background: #000;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color:#0004ff;
    text-decoration: none;
}

.wrapper form .signup-link a:hover {
    text-decoration: underline;
} 
/* Code for LOGIN PAGE END */


/* BOTTOM NAVIGATION MENUBAR BEGIN */
/* SECTION TO PLACE MENU ITEM ON BOTTOM OF PAGE BEGIN */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Below number must match the margin bottom number in the 'body' section above */
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(197, 239, 255);
    /* 'flex' makes sure the icons on bottom or evenly placed */
    display: flex;
    /* BELOW CODE MAKES SURE THE USER HAS THE ABILITY TO SCROLL THROUGH THE MENU ON SMALLER DEVICES */
    overflow-x: auto;
}
/* SECTION TO PLACE MENU ITEM ON BOTTOM OF PAGE END */

.nav__link {
    display: flex;
    /* Makes sure the icon is on top of the label/text */
    flex-direction: column;
    align-items: center;
    /* Pushes down the icon and text */
    justify-content: center;
    /* Below code will place the icons evenly on smaller screens. */
    flex-grow: 1;
    min-width: 50px;
    /* Below 2 lines prevent the text from going outside the area of the icon section. */
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(51, 51, 51);
    text-decoration: none;
    /* Removes the default blue color that appears on mobile devices after clicking icon. */
    -webkit-tap-highlight-color: transparent;
    /* Below code makes sure that when the icon is clicked the effect looks nice. */
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: rgb(255, 255, 255);
}

.nav__link--active {
    color: #009614;
}

.nav___link--active {
    color: #0400ff;
}

.nav____link--active {
    color: #cc0000;
}

.nav__icon {
    font-size: 18px;
}
/* BOTTOM NAVIGATION MENUBAR END */







/* FOOTER BEGIN */
/* Text color for website disclaimer on bottom of webpage begin */
a.small {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

/* Text color for documents link on bottom of webpage */
a.red {
    color: red;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    /* Removes the line under linked word(s) */
    text-decoration: none;
    list-style: none;
}

b {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
}

r {
    color: red;
    font-size: 1.15rem;
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
}

a.redmenu {
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
a.redmenu:hover {
    background: lightblue;
    transform: translateZ(20px);
*/
    /* below code is to round the edges, first 2 are the top left and right*/
    /*
    border-radius: 0px 0px 0px 0px;
} */

w {
    color: #f5f5f5;
    font-size: 1rem;
    list-style-type: none;
}

footer .content {
    flex-grow: 1;
    /* font-style: italic; */
  }
  
  footer p {
    padding-bottom: 1.66rem;
  }
  
  footer p:last-child {
    padding-bottom: 0;
  }
  
  footer .author {
    COLOR: rgb(255, 255, 0);
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  em {
    COLOR: rgb(255, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 1000px) {
    footer {
      flex-direction: column;
      padding: 0 10% 2rem 10%;
}
/* FOOTER END */


/* HOW THE FOOTER WOULD LOOK ON A COMPUTER OR LAPTOP SECTION BEGIN */
@media only screen and (min-width: 1050px) {
    .footer-links-main {
        display: block;
    }
    
    /* Code to add spacing between lists sections on bottom of webpage. */
    footer ul {
        padding-right: 50px;
    }

    footer ul li p {
        font-family: 'Catamaran', sans-serif;
        font-size: 24px;
        color: rgb(255, 255, 0);
        line-height: 35px;
        text-transform: uppercase;
        font-weight: bold;
    }

}
/* HOW THE FOOTER WOULD LOOK ON A COMPUTER OR LAPTOP SECTION END */




















