/* below code is to get rid of extra margin and padding that might exist. */
/* The below code resets the box model to border-box for all HTML elements. */
/* This new box model avoids the dimensional issues that exist in the former box model you learned about. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* email section begin */
body {
    font-family: sans-serif;
}

section {
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(12, 128, 128, 0.199);
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: sans-serif;
    color: rgba(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 3s ease background-color;
}

button[type="submit"]:hover{
    background-color: rgb(0, 52, 194);
    color: #fff;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success {
    background-color: rgb(211, 250, 153);
    color: #000;
    /* Message will disappear after 4 seconds. */
    animation: status 4s ease forwards;
}

#status.error {
    background-color: red;
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

/* email section end */







