/* below code is to get rid of extra margin and padding that might exist. */
* {
    margin: 0;
    padding: 0;
    /* The below code resets the box model to border-box for all HTML elements. */
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /*
    background: rgba(2, 6, 223, 0.85);
    */
    background: rgb(136, 208, 236); /*sky-blue*/
}


/* Animates text begin*/
h1 {
    position: absolute;
    top: 1.5rem;
    /* Aligns AmerKorAsian at top of page */
    left: 33%;
    text-align: center;


    background: linear-gradient(90deg, #5144ff, #0413eed7, #e6e929, #0033ff, #283ae0, #f7f332);
    background-size: 400%;
    font-size: 4.5rem;
    font-family: sans-serif;
    letter-spacing: 0.40rem;
    font-weight: 600;
    /*
    word-spacing: 1.70rem;
    */

    /* Below code width will not shrink below 300px, width exceed 600px, */
    /* Below code height will not shrink below 150px, width exceed 300px, */
    min-width: 300px;
    max-width: 600px;
    min-height: 150px;
    max-height: 300px;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
/* Animates text end*/


/* code for MOTTO BEGIN */
#motto {
    font-size: 35px;
    text-align: center;
    background: linear-gradient(90deg, #5144ff, #0413eed7, #e6e929, #0033ff, #283ae0, #f7f332);
    background-size: 400%;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}
/* code for MOTTO END */


