/* below code is to get rid of extra margin and padding that might exist. */
* {
    margin: 0;
    padding: 0;
    /* The below code resets the box model to border-box for all HTML elements. */
    box-sizing: border-box;
}

/* Base Font of a browser is 16 px, so 1em = 16px */
/* If font-size: 18px; - Then 1.5em would be 27px (18 + 9) */

/* Beginning of my code */
html, body {
    height: 100%;
}

.container {
    height: 100%;
    background: url("../images/paidFibonacci/fibtransparentLarge.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container span {
    color: #fff;
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}