/* below code is to get rid of extra margin and padding that might exist. */
* {
    margin: 0;
    padding: 0;
    /* The below code resets the box model to border-box for all HTML elements. */
    box-sizing: border-box;
}

body{
    /*
    background: rgba(2, 6, 223, 0.85);
    */
    background: rgb(136, 208, 236); /*sky-blue*/
}


/* HEADER SECTION BEGIN */
header {
    position: fixed;
    width: 100%;
    z-index: 1;

    /* To set Menu bar (top of webpage = 0px) */
    top: 20px;
    left: 40px;
    /* below code is to make sure item covers entire webpage */
    width: 100%;
    font-weight: 900;
    text-transform: uppercase;}

/* puts menu list in a row begin */
header ul li {
    float: left;
    list-style: none;
    position: relative;
}

header ul li a {
    display: block;
    font-family: Arial;
    color: black;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

/* To make the list a dropdown, change display to none.*/
header ul li ul {
    /*display: block;*/
    display: none;
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    /* below code is to round the edges, first 2 are the top left and right*/
    border-radius: 0px 0px 4px 4px;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 150px;
    border-radius: 4px;
}

header ul li ul li a {
    padding: 8px 12px;
}

header ul li ul li a:hover a {
    display: block;
}

/* Below code doesn't work.  Need to find one that will change the color when being used */
header ul li ul li a:hover {
    background-color: skyblue;
    /* code to make background transparent */
    background: rgba(0, 0, 0, 0, .7);
}
/* puts menu list in a row end */
/* HEADER SECTION END */




/* color for MENU and CONTACT begin */
a.whitemenu {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

a.whitemenu:hover {
    background: lightblue;
    transform: translateZ(10px);
    /* below code is to round the edges, first 2 are the top left and right*/
    border-radius: 0px 0px 0px 0px;
}

a.yellowmenu {
    color: yellow;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

a.yellowmenu:hover {
    background: lightblue;
    transform: translateZ(20px);
    /* below code is to round the edges, first 2 are the top left and right*/
    border-radius: 0px 0px 0px 0px;
}
/* color for MENU and CONTACT end */




