
@import url('../css/fonts.css');


html, body{
    background: rgb(136, 208, 236);
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #fff;
    --midnight: #104f55;
    --gray: #7e7e7e;
    --yellow: rgb(255, 255, 0);
    --blue: rgb(0, 47, 255);

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel'; /*, cursive */
    --Anton: 'Anton'; /*, cursive; */
    --Josefin: 'Josefin'; /*, cursive; */
    --Lexend: Arial, Helvetica, sans-serif; /* 'Times New Roman', Times, serif; */
    --Livvic : 'Livvic'; /* , cursive; */
    --Noto: 'Noto Serif', serif;
}


/* ---------------- Global Classes ---------------*/

a{
    text-decoration: none;
    color: var(--bg-color);
    /*font-family: var(--Lexend);*/
    font-family: Arial, Helvetica, sans-serif;
}

b {
    color: rgb(0, 0, 153);
    /* font-size: 2rem; */
    font-size: 3.0rem;
    font-weight: bold;
}

bb {
    color: rgb(0, 0, 153);
    /* font-size: 2rem; */
    font-size: 1.25rem;
    font-weight: bold;
}

e {
    color: rgb(255, 255, 0);
    /* font-size: 2rem; */
    font-size: 1.15rem;
    font-weight: bold;
}

ee {
    color: rgb(255, 255, 0);
    /* font-size: 2rem; */
    font-size: 1.50rem;
    font-weight: bold;
}

g{
    text-decoration: none;
    color: #015c0d;
}

gg {
    color: #015c0d;
    /* font-size: 2rem; */
    font-size: 1.50rem;
    font-weight: bold;
}

p{
    /*font-family: var(--Lexend);*/
    font-family: Arial, Helvetica, sans-serif;
}

r {
    color: rgb(255, 0, 0);
    font-size: 1.50rem;
    font-weight: bold;
    text-decoration: none;
}

y {
    color: rgb(255, 255, 0);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

u {
    color: rgb(255, 255, 255);
    font-size: 1.00rem;
    /*font-family: var(--Lexend);*/
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    /*font-family: var(--Lexend);*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

h2{
    /*font-family: var(--Lexend);*/
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    /*font-family: var(--Noto);*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

.text-white{
    color: var(--white);
    font-weight: 900;
}

.text-yellow{
    color: var(--yellow);
    font-family: var(--Lexend) !important;
    font-weight: 900;
}

.text-blue{
    color: var(--blue);
    font-family: var(--Lexend) !important;
    font-weight: 900;
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */

/* logo-banner Larger screen-size SECTION BEGIN */
/* @media (min-width: 801px){ */
    .nav{
        /* background: rgb(32.93, 71.31, 152.52); */
        background: transparent;
        /* To make sure the menu items are hidden when viewed on tablet/phone. */
        /* background: rgb(136, 208, 236); */
        /* top right bottom left */
        /* padding: 0 2rem 1rem 2rem; */
        /* top/bottom right/left */
        padding: 0 1rem;
        height: 0rem;
        width: 100%;
        min-height: 7vh;
        overflow: hidden;
        /* transition: height 1s ease-in-out; */
        position: fixed;
    }

    .nav .nav-menu{    
        justify-content: space-between;
    }

    .nav .toggle-collapse{
        position: absolute;
        top: 0%;
        width: 90%;
        cursor: pointer;
        display: none;
    }

    .nav .toggle-collapse .toggle-icons{
        display: flex;
        justify-content: flex-end;
        padding: 1.1rem 0;
    }

    .nav .toggle-collapse .toggle-icons i{
        font-size: 1.4rem;
        color: var(--white);
    }

    .collapse{
        /* Area when menu section is opened. */
        height: 20rem;
    }

    .nav .nav-items{
        display: flex;
        margin: 0;
    }

    .nav .nav-items .nav-link{
        padding: 0.5rem 1rem;
        position: relative;
        /* font-family: var(--Abel); */
        font-size: 1.1rem;
        color: #00ff22;
    }

    .nav .nav-items .nav-link:hover{
        background-color: var(--gray);
    }

    .nav .nav-items .nav-link:hover a{
        color: var(--white);
    }

    .nav .nav-brand a{
        padding: 1rem 0;
        display: block;
        /*font-family: var(--Lexend);*/
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.6rem;
    }

    .nav .nav-menu .nav-brand .logo-image{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -6px;
    }

    .nav .social{
        padding: 1.4rem 0
    }

    .nav .social i{
        padding: 0 .2rem;
    }

    .nav .social i:hover{
        color: #a1c4cf;
    }
/* } */
/* logo-banner Larger screen-size SECTION END */
/* -------x------- navbar ---------x------- */




/*  INDEX SECTION BEGIN  */
/* logo-banner SECTION BEGIN */
.logo-banner {
    /*
    width: 100%;
    height: auto;
    */

    width: cover;
    height: auto;
    background-size: cover;
    /* 100% of view height of device
    height: 100vh;*/
    /* Code takes total height view and subtracts an amount, similar to padding, so image doesn't stretch to bottom of page. */
    height: calc(100vh - 100px);
    background: url('../images/paidFibonacci/fibtransparentLarge.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* background-attachment: fixed; */
    margin: 0px auto;
    /* display: table; */
}



/* Animates text begin*/
.logo-banner h1 {
    position: relative;
    /* Aligns AmerKorAsian at top of page */
    text-align: center;
    margin: 0px auto;


    background: linear-gradient(90deg, #1900ff, #ffcc0d, #fff1a0, #1a2055, #fefe33, #d6d5a4);
    background-size: 600%;
    font-size: 4.5rem;
    font-family: sans-serif;
    letter-spacing: 0.40rem;
    font-weight: 600;

    /* Below 5 lines of code puts the text in center of image. */
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: absolute; */

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
/* Animates text end*/

/* code for MOTTO BEGIN */
.logo-banner #motto {
    font-size: 30px;
    text-align: center;
    bottom: 0;
    /*
    background: linear-gradient(90deg, #5144ff, #0413eed7, #e6e929, #0033ff, #283ae0, #f7f332);
    */
    background: linear-gradient(90deg, #1900ff, #ffcc0d, #fff1a0, #1900ff, #fefe33, #d6d5a4);
    background-size: 400%;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: px;
    font-weight: 600;
    word-spacing: 5px;


    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}

#motto {
    font-size: 30px;
    /* text-align: center; */
    bottom: 0;
    /*
    background: linear-gradient(90deg, #5144ff, #0413eed7, #e6e929, #0033ff, #283ae0, #f7f332);
    */
    background: linear-gradient(90deg, #1900ff, #ffcc0d, #fff1a0, #1900ff, #fefe33, #d6d5a4);
    background-size: 400%;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: px;
    font-weight: 600;
    word-spacing: 5px;


    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}

/* Code for scrolling background using different color BEGIN */
#motto2 {
    font-size: 30px;
    /* text-align: center; */
    bottom: 0;
    background: linear-gradient(90deg, #5144ff, #0413eed7, #f2f60a, #0033ff, #283ae0);
    /*background: linear-gradient(90deg, #262626, #cbc4ad, #f9a616, #188324, #fefe33, #d6d5a4);*/
    background-size: 400%;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: px;
    font-weight: 600;
    word-spacing: 5px;


    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}
/* Code for scrolling background using different color END */


#motto-center {
    font-size: 30px;
    text-align: center;
    bottom: 0;
    /*
    background: linear-gradient(90deg, #5144ff, #0413eed7, #e6e929, #0033ff, #283ae0, #f7f332);
    */
    background: linear-gradient(90deg, #1900ff, #ffcc0d, #fff1a0, #1900ff, #fefe33, #d6d5a4);
    background-size: 400%;
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: px;
    font-weight: 600;
    word-spacing: 5px;


    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
}
/* code for MOTTO END */









/* IMAGE SLIDER BEGIN */
.slider {
    height: 250px;
    margin: auto;
    position: relative;
    /* Width auto makes the scrolling bar go across whole webpage. */
    width: auto;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: 100% /*calc(250px * 14)*/;
    animation: scroll 30s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(calc(-250px * 7));
    }
}

.slide {
    height: 250px;
    width: 300px;
    display: flex;
    align-items: center;
    perspective: 100px;
}

/* TEXT ON BACK OF IMAGE BEGIN */
.image {
    position: relative;
    width: 300px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-display: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* with an opacity of zero, text is hidden by default */
    opacity: 0;
    text-decoration: none;
    /* transition: 0.25s; */
}


/* Makes text color on back of image overlay white */
.image__overlay > * {
    transform: translateY(20px);
    /* transition: transform 0.25s; */
    color: #fff;
}

.image__overlay:hover {
    /* with an opacity of 1 when hovering, the text information will appear on top of image */
    opacity: 1;
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}
/* TEXT ON BACK OF IMAGE END */

img {
    height: 50%;
    width: 50%;
    transition: transform 1s;
    /* code below is suppose to round the edges of images when viewed on website */
    border-radius: 0px 0px 0px 0px;
}

img:hover {
    transform: translateZ(20px);
    /* with an opacity of 1 when hovering, the text information will appear on top of image */
    opacity: 1;
}
/* IMAGE SLIDER END */


/* pie images for Pie Options page BEGIN */
.avatar1 {
    background-image: url(../images/paidFibonacci/fibAKAtran.png);
    background-size: cover;
    height: 75px;
    width: 75px;
    /*border: 1px solid black;*/
    /* below code will put image to the right of text */
    display: inline-block;
    vertical-align: middle;
}

.avatar2 {
    background-image: url(../images/paidFibonacci/fibDIV1blue.png);
    background-size: cover;
    height: 75px;
    width: 75px;
    /*border-radius: 75%;*/
    /*border: 1px solid black;*/
    /* below code will put image to the right of text */
    display: inline-block;
    vertical-align: middle;
}

.avatar3 {
    background-image: url(../images/paidFibonacci/fibDIV2blue.jpg);
    background-size: cover;
    height: 75px;
    width: 75px;
    /*border: 1px solid black;*/
    /* below code will put image to the right of text */
    display: inline-block;
    vertical-align: middle;
}

.avatar4 {
    background-image: url(../images/pie3Ten_Equal_INV.jpg);
    background-size: cover;
    height: 75px;
    width: 75px;
    /* below code will put image to the right of text */
    display: inline-block;
    vertical-align: middle;
}

.avatar5 {
    background-image: url(../images/paidFibonacci/fibPOPULARblack.png);
    background-size: cover;
    height: 75px;
    width: 75px;
    /* below code will put image to the right of text */
    display: inline-block;
    vertical-align: middle;
}

.avatar6 {
    background-image: url(../images/paidFibonacci/fibVANGUARDblack.png);
    background-size: cover;
    height: 75px;
    width: 75px;
    /* below code will put image to the right of text */
    display: inline-block;
    vertical-align: middle;
}
/* pie images for Pie Options page END */



/* .logo-banner h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    font-style: italic; */
    /* line-height only needed if spacing isn't good between text lines
    line-height: 15px; */
    /* color: rgb(255, 255, 0);
    text-align: center;
    text-shadow: 2px 2px #111;
} */

/* logo-banner SECTION END */

/* email section BEGIN */
.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(12, 128, 128, 0.199);
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: sans-serif;
    color: rgba(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 3s ease background-color;
}

button[type="submit"]:hover{
    background-color: rgb(0, 52, 194);
    color: #fff;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success {
    background-color: rgb(211, 250, 153);
    color: #000;
    /* Message will disappear after 4 seconds. */
    animation: status 2s ease forwards;
}

#status.error {
    background-color: red;
    color: white;
    animation: status 2s ease forwards;
}

@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

/* email section END */


/*  CODE FOR POPUP BOX BEGIN  */
.popbanner,
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#click {
    display: none;
}

.click-me {
    display: block;
    width: 160px;
    height: 50px;
    background: #0004ff;
    border: 1px solid #0004ff;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.click-me:hover {
    background: #eeff00;
    color: #0004ff;
}

/* For email box on "About Us" page BEGIN */
.click-me2 {
    display: block;
    width: 160px;
    height: 50px;
    background: #0004ff;
    border: 1px solid #0004ff;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.click-me2:hover {
    background: #83c7ff;
    color: #0004ff;
}
/* For email box on "About Us" page END */

.content {
    opacity: 0;
    visibility: hidden;
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 3px;
    /* transition: 3x ease-in-out; */
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
}

#click:checked ~ .content {
    opacity: 1;
    visibility: visible;
}

.header {
    height: 68px;
    background: #90f2ff;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

.header h2 {
    color: #fff;
    padding-left: 32px;
    font-weight: normal;
}

p {
    padding-top: 10px;
    font-size: 17px;
    color: #1a1a1a;
    text-align: center;
}

q {
    padding-top: 10px;
    font-size: 14px;
    color: #1a1a1a;
    text-align: center;
}

.line {
    bottom: 60px;
    width: 100%;
    height: 1px;
    background: silver;
}

.close-btn {
    position: absolute;
    bottom: 12px;
    right: 25px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}

.close-btn:hover {
    background: #27ae60;
    color: #fff;
    transition: 0.5s;
}
/*  CODE FOR POPUP BOX END  */



/* Code for LOGIN PAGE BEGIN */
.login {
    max-width: 440px;
    padding: 20px 20px;

    /* might need to adjust this so the login box is centered */
    margin: 170px auto;
}

.wrapper {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}

.wrapper .title {
    line-height: 70px;
    background: rgba(255, 255, 0);
    padding-left: 20px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 20px 25px 20px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: rgba(255, 255, 0);
    box-shadow: inset 0px 0px 2px 2px #0004ff;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: rgba(107,107,107);
    border: 1px solid rgba(255, 255, 0);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color:#0004ff;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0px;
    background: rgba(107, 107, 107);
    border: 1px solid rgba(255, 255, 0);
    cursor: pointer;
}

form .button input:hover {
    background: #000;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color:#0004ff;
    text-decoration: none;
}

.wrapper form .signup-link a:hover {
    text-decoration: underline;
} 
/* Code for LOGIN PAGE END */



/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */
main .site-title{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/* --------x------ Site title --------x------- */


/* --------------- Blog Carousel ------------ */

main .blog{
    background: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

main .blog .blog-post{
    padding-top: 6rem;
}

main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* For display size of images on carousel */
    width: 70%;
    /* the top margin will be 3px, right margin will be 5px, bottom margin will be 2px, left margin will be 6px */
    margin: 3rem 5rem 2rem 4rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title{
    padding: 2rem 0;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

main .blog-content span{
    display: block;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

/* First set of Navigation Arrows */
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--yellow);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--bg-color);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}


/* -------x------- Blog Carousel -----x------ */

/* ---------------- Site Content ----------------*/

main .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
}

main .post-content{
    width: 100%;
    
}

main .site-content .post-content > .post-image, .post-title{
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{
    background: var(--sky);
    padding: 1rem;
    position: absolute;
    /* Places item in specific location begin */
    bottom: 0%;
    /*top: -2%;*/
    left: 9vw;
    /* Places item in specific location end */
    border-radius: 2.5rem;
}

main .site-content .post-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    /* transition: all 1s ease; */
}

main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}

main .post-content .post-title a{
    /*font-family: var(--Lexend);*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}

.site-content .pagination{
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    /*font-family: var(--Lexend);*/
    font-family: Arial, Helvetica, sans-serif;
}

.site-content .pagination .pages{
    background: var(--text-gray);
    color: var(--white);
}

/* -------x-------- Site Content --------x-------*/


/* --------------- Sidebar ----------------------- */

.site-content > .sidebar .category-list{
    font-family: var(--Livvic);   
}

.site-content > .sidebar .category-list .list-items{
    background: var(--sky);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.site-content > .sidebar .category-list .list-items a{
    color:  black;
}

.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2{
    padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info{
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-title a{
    font-size: 1rem;
}

.site-content .sidebar .newsletter{
    padding-top: 10rem;
}

.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}

.site-content .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    /*font-family: var(--Lexend);*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn{
    border-radius: 0;
    padding: .8rem 32%;
    margin: 1rem 0;
    background: var(--sky);
}

.site-content .sidebar .popular-tags{
    padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag{
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}


/* -------x------- Sidebar -----------x----------- */

/* ---------x------- Main Content -----x----- */


/* ----------------- Footer --------------------- */

footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
    font-family: Arial, Helvetica, sans-serif !important;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

/* footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
} */


/* This is my footer CSS info. BEGIN */
em {
    /*color: #cfcfcf;*/
    COLOR: rgb(255, 44, 44);
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
  }

a.redmenu {
    color: red;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

footer .author {
    COLOR: rgb(255, 255, 0);
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    font-size: 1.5rem;
  }
/* This is my footer CSS info. END */





footer.footer .rights{
    justify-content: center;
    font-family: var(--Lexend);
}

footer.footer .rights h4 a{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 70%;
}

footer.footer .move-up span{
    color: var(--yellow);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */



/* BOTTOM NAVIGATION MENUBAR BEGIN */
/* BOTTOM NAVIGATION MENUBAR screen-size SECTION BEGIN */
/* @media only screen and (min-width: 300px) and (max-width: 1050px) { */
/* @media only screen and (max-width: 1050px) { */
        /* SECTION TO PLACE MENU ITEM ON BOTTOM OF PAGE BEGIN */
.nav-links {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Below number must match the margin bottom number in the 'body' section above */
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(32.93, 71.31, 152.52);
    /* 'flex' makes sure the icons on bottom or evenly placed */
    display: flex;
    /* BELOW CODE MAKES SURE THE USER HAS THE ABILITY TO SCROLL THROUGH THE MENU ON SMALLER DEVICES */
    overflow-x: auto;
}
/* SECTION TO PLACE MENU ITEM ON BOTTOM OF PAGE END */
.nav__link {
    display: flex;
    /* Makes sure the icon is on top of the label/text */
    flex-direction: column;
    align-items: center;
    /* Pushes down the icon and text */
    justify-content: center;
    /* Below code will place the icons evenly on smaller screens. */
    flex-grow: 1;
    min-width: 50px;
    /* Below 2 lines prevent the text from going outside the area of the icon section. */
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(51, 51, 51);
    text-decoration: none;
    /* Removes the default blue color that appears on mobile devices after clicking icon. */
    -webkit-tap-highlight-color: transparent;
    /* Below code makes sure that when the icon is clicked the effect looks nice. */
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: rgb(160, 252, 255);
}

.nav__link--active {
    color: #00ff22;
}

.nav___link--active {
    color: #ffffff;
}

.nav____link--active {
    color: #fbff00;
}

.nav__icon {
    font-size: 18px;
}
/* } */
    /* BOTTOM NAVIGATION MENUBAR END */
/* BOTTOM NAVIGATION MENUBAR Smaller screen-size SECTION END */




/*              Viewport less then or equal to 1130px            */
/* logo-banner Smaller screen-size SECTION BEGIN */
@media only screen and (max-width: 800px){
    .logo-banner {
        width: cover;
        height: auto;
        background-size: cover;
        height: calc(100vh - 100px);
        background: url('../images/paidFibonacci/fibtransparentLarge.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-attachment: scroll;
        margin: 0px auto;
        /* display: table; */
    }

    footer.footer .move-up{
        position: absolute;
        right: 6%;
        top: 90%;
    }
    
    footer.footer .move-up span{
        color: var(--yellow);
    }
    
    footer.footer .move-up span:hover{
        color: var(--white);
        cursor: pointer;
    }

/* Animates text begin*/
.logo-banner h1 {
        position: relative;
        text-align: center;
        margin: 0px auto;


        background: linear-gradient(90deg, #1900ff, #ffcc0d, #fff1a0, #1a2055, #fefe33, #d6d5a4);
        background-size: 600%;
        font-size: 2.5rem;
        font-family: sans-serif;
        letter-spacing: 0.40rem;
        font-weight: 600;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;

        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: animate 20s linear infinite;
    }
}
/* logo-banner Smaller screen-size SECTION END */


@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
/* Animates text end*/




@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Viewport less then or equal to 1130px    x     */


/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

}


/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .9rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */